@media screen and (max-width: 964px) {
  .content {
    margin: 0;
  }
  aside {
    display: none;
  }
}

@media screen and (max-width: 675px) {
  .header-serv {
    flex-direction: column;
  }
  .header-search {
    margin: 0;
  }
  .header-statuses {
    margin-top: 10px;
  }
  .header-title {
    text-align: center;
  }
  #main {
    display: block;
  }
  .donation {
    margin-bottom: 20px;
    &-descr {
      flex-direction: column;
      &__item {
        padding-bottom: 10px;
        text-align: center;
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
    }
  }
  .designation {
    flex-direction: column;
    flex-basis: 0px;
  }
}

@media screen and (max-width: 536px) {
  .donation-total {
    flex-direction: column;
  }
}