// Main fonts
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Work Sans', sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  padding: 53px;
}
.container {
  max-width: 1224px;
  margin: 0 auto;
}